<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/styles/main.css" />
  <title>CS253 blog :: entry #{{blogid}}</title>
</head>
<body>
  <div class="main-title"><a href="{{path}}">CS 253 Blog</a> entry #{{blogid}}</div>
  <div id="content">
    <div class="post">
      <div class="post-heading">
        <a href="{{path}}{{blogid}}" class="post-title">{{entry.subject}}</a>
        <div class="post-date">{{entry.posted}}</div>
      </div>
      <div class="post-content">{{entry.render() | safe}}</div>
    </div>
  </div>
  <div class="post-date">Queried {{queried}} seconds ago</div>
</body>
</html>
