<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" href="/styles/main.css" />
  <title>CS253 blog</title>
</head>
<body>
  <a href="{{path}}" class="main-title">CS 253 Blog</a>
  <div class="login-area">
    <a class="login-link" href="{{path}}{{login}}">login</a>
    <a class="login-link" href="{{path}}{{signup}}">signup</a>
  </div>
  <div id="content">
{% for (blogid, entry) in entries %}
    <div class="post">
      <div class="post-heading">
        <a href="{{path}}{{blogid}}" class="post-title">{{entry.subject}}</a>
        <div class="post-date">{{entry.posted}}</div>
      </div>
      <div class="post-content">{{entry.render() | safe}}</div>
    </div>
{% endfor %}
  </div>
  <div class="post-date">Queried {{queried}} seconds ago</div>
</body>
</html>
