<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/styles/main.css" />
		<title>New Post</title>
	</head>
	<body>
		<h1>New Post</h1>
		<form method="post">
			<label>
				<div>subject</div>
				<input type="text" name="subject" value="{{subject}}">
			</label>
			<div class="error">{{err_subject}}</div>
			<label>
				<div>blog</div>
				<textarea name="content">{{content}}</textarea>
			</label>
			<div class="error">{{err_content}}</div>
			<div><input type="submit" value="Hugh! Ich habe gesprochen."></div>
		</form>
	</body>
</html>