<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" href="/styles/main.css" />
  <title>Sign Up</title>
  <style type="text/css">
   .label {text-align: right}
   .error {color: red}
  </style>
</head>
<body>
  <h2>Signup</h2>
  <form method="post">
    <table>
    <tr>
      <td class="label">Username</td>
      <td><input type="text" name="username" value="{{uid}}"></td>
      <td class="error">{{bad_uid}}</td>
    </tr>
    <tr>
      <td class="label">Password</td>
      <td><input type="password" name="password" value=""></td>
      <td class="error">{{bad_pwd}}</td>
    </tr>
    <tr>
      <td class="label">Verify Password</td>
      <td><input type="password" name="verify" value=""></td>
      <td class="error">{{pwd_mismatch}}</td>
    </tr>
    <tr>
      <td class="label">Email (optional)</td>
      <td><input type="text" name="email" value="{{email}}"></td>
      <td class="error">{{bad_email}}</td>
    </tr>
    </table>
    <input type="submit">
  </form>
</body>
