<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" href="/styles/main.css" />
  <title>Unit 4 Signup</title>
</head>
<body>
  <h2>Welcome, {{uid}}!</h2>
</body>
